# LZH 2021-09-15 v0.1
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.{cs,vb}]
#### Core EditorConfig Options ####


#### .NET Coding Conventions ####

# Organize usings
dotnet_sort_system_directives_first = true

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = warning