<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
  </extensions>
  <variable name="application" value="测试记录log"/>
  <variable name="version" value="${assembly-version}" />
  <variable name="normalLayout" value='{
			"counter": ${counter},
			"application": "${application}",
			"time": "${longdate:universalTime=True}",
			"level": "${level:upperCase=true}",
			"machinename": "${machinename}",
			"appdomain": "${appdomain}",
			"logger": "${logger}",
			"message": "${message:format=message}"' />
  <targets async="true">
	<target name="file" xsi:type="File"
				fileName="${basedir}/logs/${date:format=yyyy-MM-dd}-${level}.log"
				archiveEvery="Day" layout="${normalLayout}" />
	  <target name="Sqlite" xsi:type="Database" keepConnection="false"
			  useTransactions="false"
			  dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite"
			  connectionString="Data Source=${basedir}/logs/log.db;"
			  commandType="Text"
			  commandText="INSERT into Log(Timestamp, Loglevel, Logger, Callsite, Message) values(@Timestamp, @Loglevel, @Logger, @Callsite, @Message)">
		  <parameter name="@Timestamp" layout="${longdate}"/>
		  <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
		  <parameter name="@Logger" layout="${logger}"/>
		  <parameter name="@Callsite" layout="${callsite:filename=true}"/>
		  <parameter name="@Message" layout="${message}"/>
	  </target>
  </targets>
	
  <rules>
	<logger name="*" writeTo="file" />
	<logger name="*" writeTo="Sqlite" />
  </rules>
</nlog>